server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: simple-service
          uri: http://simple-service:8080
          predicates:
            - Path=/simple/**
        - id: inventory-service
          uri: http://inventory-service:8080
          predicates:
            - Path=/inventory/**

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    prometheus:
      enabled: true
