server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: simple-service
          uri: http://simple-service:8080
          predicates:
            - Path=/simple/**
          filters:
            - StripPrefix=1
        - id: inventory-service
          uri: http://inventory-service:8080
          predicates:
            - Path=/inventory/**
          filters:
            - StripPrefix=1
        - id: frontend-service
          uri: http://frontend-service:80
          predicates:
            - Path=/**

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    prometheus:
      enabled: true
