name: Simple Service CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'simple-service/**'
      - '.github/workflows/ci-simple-service.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'simple-service/**'

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: |
        chmod +x simple-service/mvnw
        ./simple-service/mvnw -B package --file simple-service/pom.xml

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./simple-service
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/${{ github.repository }}/simple-service:latest
          ghcr.io/${{ github.repository }}/simple-service:${{ github.sha }}

  deploy:
    needs: build
    runs-on: self-hosted
    permissions:
      packages: read
    steps:
      - uses: actions/checkout@v3 # CD needs checkout to get compose.yaml
      
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy with Docker Compose
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          docker compose pull simple-service
          docker compose up -d simple-service
          docker image prune -a -f # Clean up old images
